.navbar{
  top: 20px;
margin: 0px;
background-color: inherit;
padding-bottom: 50px;
}


.f{

filter: invert(100%);

margin-left: 20px;

}

.nav-item{

font-size: 1.2rem;
text-align: right;
align-content: top;

}

.navlinks{

border-style: solid;
border-color: black;
border-right: 0.5rem;
border-top: 0;
border-bottom: 0;
color: black;

}


.footer{
padding-bottom: 20px;
margin: 0;
background-color: black;
line-height: 3;
min-width: 101%;

}

.li{

padding-top: 50px;
padding-right: 0;
padding-left: 20px;

}
.container{
min-width: 101%;
margin: 0;

}
